<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="initial-scale=1" />

		<title>{{ page.title }}</title>

		<link rel="stylesheet" href="/css/syntax.css" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>
		<div class="site">
			<div class="header">
				<h1 class="title"><a href="/">{{ site.name }}</a></h1>
				<a class="extra" href="/">home</a>
			</div>

			{{ content }}

			<div class="footer">
				<div class="contact">
					<p>
						Fur Affinity<br />
						<a href="mailto:phoenix@furaffinity.net">phoenix@furaffinity.net</a>
					</p>
				</div>
				<div class="contact">
					<p>
						<a href="https://github.com/FurAffinity">github.com/FurAffinity</a><br />
						<a href="https://twitter.com/phoenix_log">twitter.com/phoenix_log</a><br />
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
